@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.App {
  background-image: url("./images/sunny.jpg");
  background-position: top;
  background-size: cover;
  transition: 0.5 ease-out;
}

.App.sunny {
  background-image: url("./images/sunny.jpg");
}

.App.rainy {
  background-image: url("./images/rainy.jpg");
}

.App.snowy {
  background-image: url("./images/snowy.jpg");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4)
  );
  padding: 10vw;
}

.search-box {
  width: 100%;
  margin: 0 auto;
}
.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: -20px;

  border: none;
  border-radius: 10px;
  appearance: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.1);

  transition: 0.2s ease;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.location-box {
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}
.location-box .location {
  font-weight: 600;
  font-size: 2rem;
}
.location-box .date {
  font-size: 1rem;
}

.weather-box {
  height: 280px;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.weather-box .dreta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-box .dreta .symbol {
  margin-top: -30px;
}

.weather-box .dreta .status-temp {
  margin-top: -30px;
}

.weather-box .dreta .sky-status {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.weather-box .dreta .temp {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}

.weather-box .esquerra {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.weather-box .esquerra .other {
  margin-bottom: 4px;
}
